services:
  db:
    image: mysql:8.0
    container_name: sharecook-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    ports:
      - "${PORT_DB}:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks: # <-- AJOUT
      - sharecook_net

  db-nosql:
    image: mongo
    container_name: sharecook-db-nosql
    restart: always
    volumes:
      - mongo_data:/data/db
    ports:
      - "${PORT_MONGO}:27017" # Utilisation de la variable du .env
    networks: # <-- AJOUT
      - sharecook_net

  api:
    build: ./backend-recettes
    container_name: sharecook-api
    restart: always
    # On supprime la section 'ports' car Nginx gère l'accès
    environment:
      - DB_HOST=db
      - DB_USER=root
      - DB_PASSWORD=${DB_ROOT_PASSWORD}
      - DB_NAME=${DB_NAME}
      - JWT_SECRET=${JWT_SECRET}
      - PORT=5000
    depends_on:
      - db
      - db-nosql
    networks: # <-- AJOUT
      - sharecook_net

  web:
    image: nginx:alpine
    container_name: sharecook-front
    restart: always
    ports:
      - "${PORT_WEB}:80"
    volumes:
      - ./frontend-sharecook:/usr/share/nginx/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - api 
    networks: # <-- AJOUT
      - sharecook_net

volumes:
  db_data:
  mongo_data:

# On définit le réseau personnalisé
networks: # <-- AJOUT
  sharecook_net:
    driver: bridge