services:
  # --- BASE DE DONNÉES ---
  db:
    image: mysql:8.0
    container_name: sharecook-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    ports:
      - "${PORT_DB}:3306" # Utilise le port du .env (3308)
    volumes:
      - db_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  # --- BACK-END (API) ---
  api:
    build: ./backend-recettes
    container_name: sharecook-api
    restart: always
    ports:
      # On n'a PLUS BESOIN d'exposer de port vers l'extérieur !
      # Nginx lui parle en interne. On garde juste l'accès interne.
      - "5000" 
    environment:
      - DB_HOST=db
      - DB_USER=root
      - DB_PASSWORD=${DB_ROOT_PASSWORD}
      - DB_NAME=${DB_NAME}
      - JWT_SECRET=${JWT_SECRET}
      - PORT=5000
    depends_on:
      - db

  # --- FRONT-END (NGINX) ---
  web:
    image: nginx:alpine
    container_name: sharecook-front
    restart: always
    ports:
      - "${PORT_WEB}:80" # Utilise le port du .env (8081)
    volumes:
      - ./frontend-sharecook:/usr/share/nginx/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf # On injecte la config Nginx
    depends_on:
      - api # Le web attend l'API

volumes:
  db_data: